{
  "presets": ["@babel/env", "@babel/preset-flow", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-syntax-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "react-flow-props-to-prop-types"
  ]
}
