{
  "extends": ["./node_modules/rogin-scripts/eslint.js"],
  "plugins": ["react-hooks"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "react/prop-types": [1],
    "no-negated-condition": [0],
    "consistent-return": [0],
    "jest/no-disabled-tests": [0]
  }
}
